$imagePath:'../images';

/*Colors*/
$red: #e20613;
$white: #ffffff;
$footer: #f70404;
$scroll: #ae8f5b;


$font10: 10px;
$font11: 11px;
$font12: 12px;
$font12x: 12.6px;
$font13: 13px;
$font14: 14px;
$font15: 15px;
$font16: 16px;
$font17: 17px;
$font18: 18px;
$font19: 19px;
$font20: 20px;
$font27: 27px;
$font34: 34px;
$font72: 72px;
