.header-area {
    height: 100vh;
    position: relative;

    /*Nav area*/
    nav {
        backgroun: transparent;
        position: absolute;
        width: 100%;
        top: 0;
        left: 0;
        z-index: 99;

        .top-area {
            border-color: red !important;

            ul {
                li {
                    a {
                        font: {
                            size: $font12;
                            weight: 500;
                        }
                    }
                }
            }

            .top-left-area {
                ul {
                    li {
                        padding-left: 10px;

                        &:first-child {
                            border-right: 1px solid #5e5e5e;
                            padding-right: 5px;
                            margin-right: 5px;
                            padding-left: 0;
                        }

                        a {
                            i {
                                padding-right: 5px;
                                font-size: 18px;
                                color: $red;
                            }
                        }
                    }
                }

                .lang-area {
                    #selected {
                        width: 37px;
                        display: inline-block;
                    }

                    .dropdown-menu {
                        z-index: 99999;
                        min-width: unset;
                        width: 70px;
                        text-align: center;
                        border: 0;

                        li {
                            border: 0;
                            margin: 0;
                            padding: 5px 0;

                            &:hover {
                                background: #d39e0059;
                            }

                            a {
                                display: block;

                                img {
                                    width: 20px;
                                }
                            }
                        }
                    }
                }
            }

            .top-right-area {
                font-weight: 800;

                ul {
                    li {
                        a {
                            background: $red;
                            color: #fff;
                            padding: 10px;
                            display: inline-block;

                            //font-family: 'Poppins', serif;
                            &:hover {
                                background: #cb0511;
                            }

                            i {
                                font-size: $font17;
                                margin-right: 5px;
                            }
                        }
                    }
                }
            }
        }

        .social-area {
            ul {
                li {
                    a {
                        border: 1px solid;
                        border-radius: 50%;
                        width: 30px;
                        height: 30px;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                    }

                    .pinterest {
                        &:hover {
                            color: #e60023;
                        }
                    }

                    .facebook {
                        &:hover {
                            color: #4267b2;
                        }
                    }

                    .twitter {
                        &:hover {
                            color: #1da1f2;
                        }
                    }

                    .instagram {
                        &:hover {
                            color: #4267b2;
                        }
                    }

                    .youtube {
                        &:hover {
                            color: #ff0000;
                        }
                    }

                    .linkedin {
                        &:hover {
                            color: #0072b1;
                        }
                    }
                }
            }
        }

        .search-area {
            input {
                background: transparent;
                border: none;
                border-bottom: 1px solid $red;
                display: none;

                &:focus {
                    outline: none;
                }
            }

            button {
                background: transparent;
                border: none;
                color: $red;

                i {
                    font-size: 35px
                }
            }
        }

        .navbar-collapse {
            text-align: right;
            margin-right: 15px;

            .active {
                color: $red;
            }
        }

        .navbar-toggler-wrapper {
            z-index: 9999;

            .navbar-toggler {
                .fa-bars {
                    font-size: 45px;
                    color: #e20613;
                }

                .fa-times {
                    font-size: 45px;
                    margin-left: 2px;
                    color: #e20613;
                }
            }
        }

        .navbar-collapse {
            position: absolute;
            display: none;
            background: rgba(255, 255, 255, .9);
            width: 100%;
            top: 0;
            left: 0;
            height: 100vh;
            justify-content: center;
            align-items: center;
            z-index: 120;
            overflow: hidden;
            text-transform: uppercase;
            font-weight: bold;
        }
    }

    .navbar-collapse.show {
        display: flex;
    }

    /*Carousel area*/
    .carousel-area {
        .item {
            height: 100vh;
            background: no-repeat bottom;

            .slogan {
                display: flex;
                justify-content: center;
                align-items: center;
                height: 100%;
                text-align: center;
                padding: 0 50px;

                div {
                    font-size: 100px;
                    font-family: 'Poppins', sans-serif;
                    color: #fff;
                    font-weight: 800;
                    line-height: 1.208;
                    text-align: center;
                    text-shadow: 0px 12px 7.6px rgba(0, 0, 0, 0.41);

                    span {
                        display: block;
                        font-size: 120px;
                    }
                }
            }
        }

        .owl-theme {
            position: relative;

            .owl-nav {
                position: absolute;
                top: 45%;
                left: 15px;
                right: 15px;

                .owl-prev,
                .owl-next {
                    position: absolute;
                    height: 100px;
                    color: red;
                    background: none;
                    border: none;
                    z-index: 100;

                    i {
                        font-size: 3rem;
                        color: #cecece;

                        &:hover {
                            color: #222;
                        }
                    }
                }

                .owl-prev {
                    left: 0;
                }

                .owl-next {
                    right: 0;
                }
            }
        }
    }
}

.products-dropdown {
    position: relative;

    a {
        i {
            font-size: $font12 !important;
            color: unset !important;
        }
    }
}

.products-dropdown ul {
    background: #fff;
    visibility: hidden;
    opacity: 0;
    min-width: 200px;
    position: absolute;
    transition: all 0.5s ease;
    //margin-top: 1rem;
    right: 0;
    display: none;
}

.products-dropdown:hover ul {
    margin-top: 0;
    visibility: visible;
    opacity: 1;
    display: block;
    padding: 5px;



    li {
        border: 0 !important;
        padding: 0px !important;
        //margin: 0 !important;
        display: block;
        margin-bottom: 5px;

        &:hover {
            box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .15) !important;
        }

        a {
            padding: 5px !important;
            display: block;

            &:hover {
                &:before {
                    content: '> ';
                }
            }
        }
    }
}

@media(max-width: 580px) {
    .header-area {
        nav {
            padding: 0;

            .top-area {
                padding-bottom: 0 !important;
                padding-right: 12px !important;

                .top-left-area {
                    .lang-area {
                        background-color: #e20613;
                        border: 0 !important;

                        .dropdown {
                            a {
                                color: white;
                            }
                        }
                    }
                }
            }
        }
    }

    .mobile-dropdown {
        width: 100%;

        .top-right-area {
            width: unset !important;
        }

        ul {
            margin-bottom: 0 !important;

            li {
                border: 0 !important;
            }
        }

        .dropdown {
            width: 70px;
            background-color: #e20613;

            .dropdown-menu {
                width: 100%;
                min-width: unset;
                padding-left: 8px;

                li {
                    border: 0;
                    padding-left: 0 !important;

                    a {
                        color: #5e5e5e;
                    }
                }
            }

            a {
                color: white;
                font-size: 12px;
                text-decoration: none;
            }
        }
    }

    .mobile-logo {
        position: absolute;
        left: 10px;
        top: 58px;
    }

    .mobile-hed {
        ul {
            li {
                margin-right: 6px;

                &:last-child {
                    margin-right: 0;
                }

                a {
                    color: #e20613;
                }
            }
        }
    }

    .header-area nav .search-area button {
        padding: 0;

        i {
            font-size: 26px;
        }
    }

    .header-area nav .search-area {
        margin-right: 12px;
    }

    .navbar-toggler {
        padding: 0;
        margin-right: 12px;
    }

    .header-area nav .navbar-toggler-wrapper .navbar-toggler .fa-bars,
    .header-area nav .navbar-toggler-wrapper .navbar-toggler .fa-times {
        font-size: 29px;
    }
}
